@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700");

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  aspect-ratio: 1;
}

/* END RESET CSS */
:root {
  font-size: 16px;
}

.light {
  --white: hsl(0, 0%, 100%);
  --alert: hsl(358, 79%, 66%);
  --alert-light: hsl(357, 100%, 86%);
  --primary: hsl(238, 40%, 52%);
  --primary-light: hsl(239, 57%, 85%);
  --neutral: hsl(211, 10%, 45%);
  --neutral-light: hsl(223, 19%, 93%);
  --neutral-dark: 212, 24%, 26%;
  --bg-color: hsl(228, 33%, 97%);
}

body {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 16px;
  width: 100vw;
  /* height: 100vh; */
  background: var(--bg-color);
}

.modale__container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--neutral-dark), 0.5);
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  & .modale__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 32px;
    border-radius: 8px;
    background-color: var(--white);

    width: 400px;
    line-height: 1.3rem;
    color: hsl(var(--neutral-dark));

    & h2 {
      font-weight: 700;
      font-size: 1.2rem;
    }

    .modale__buttons {
      display: flex;
      justify-content: space-between;

      button {
        cursor: pointer;
        padding: 1rem;
        color: var(--white);
        background-color: var(--neutral);
        border-radius: 8px;
        &:hover {
          color: hsl(var(--neutral-dark));
          background-color: var(--neutral-light);
        }
      }

      .modale__buttons--delete {
        background-color: var(--alert);

        &:hover {
          background-color: var(--alert-light);
        }
      }
    }
  }

  &.modale__container--disable {
    display: none;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 600px;
}

.comment__card {
  padding: 24px;
  background: var(--white);
  font-size: 0.78rem;
  line-height: 1rem;
  border-radius: 8px;
  color: hsl(var(--neutral-dark));
  display: grid;
  grid-template-columns: 40px 2fr 1fr;
  gap: 20px;
  grid-template-rows: auto;
  grid-template-areas:
    "votes user reaction"
    "votes comment comment";

  & .card__votes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: votes;
    background-color: var(--bg-color);
    border-radius: 8px;
    height: 100px;

    svg {
      color: var(--primary-light);
      height: 15px;
      cursor: pointer;

      &:hover {
        color: var(--primary);
      }
    }

    .votes__score {
      color: var(--primary);
      font-weight: 700;
    }
  }

  & .card__user {
    grid-area: user;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    font-size: 0.8rem;

    & > img {
      aspect-ratio: 1;
      width: 32px;
      height: auto;
    }

    & > .user__name {
      font-weight: 700;

      & .user__you {
        background-color: var(--primary);
        padding: 1px 4px;
        font-weight: 400;
        border-radius: 2px;
        color: var(--white);
      }
    }

    & > .user__date {
      color: var(--neutral);
    }
  }

  & .card__comment {
    grid-area: comment;

    & .comment__edit {
      display: grid;
      grid-template-columns: 7fr 1fr;
      gap: 20px;
    }
  }

  & .card__reaction {
    grid-area: reaction;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      aspect-ratio: 1;
      height: 11px;
    }

    .reaction__btn {
      display: flex;
      align-items: center;
      padding-left: 16px;
      gap: 4px;
      font-size: 0.8rem;
      font-weight: 500;
      cursor: pointer;
      color: var(--primary);

      &.reaction__btn--delete {
        color: var(--alert);

        &:hover {
          color: var(--alert-light);
        }
      }

      &.reaction__btn--disable {
        display: none;
      }
    }

    & > .reaction__reply {
      display: flex;
      align-items: center;
    }
  }
}

.replies {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  width: 95%;

  & > div:not(:first-child) {
    margin-top: 1rem;
  }
}

.reply {
  margin-left: 1rem;

  &.answer:is(.comment__card) {
    grid-template-areas: none;
  }
  & .reply__author {
    color: var(--primary);
    font-weight: 700;
  }

  & .reply_user {
    color: var(--primary);
    font-weight: 700;
  }
}

textarea {
  background-color: inherit;
  border: 1px solid var(--primary-light);
  border-radius: 4px;
  width: 100%;
  resize: none;
  font-family: inherit;
  padding: 10px 12px;

  &:user-valid,
  &:focus-within {
    outline: none;
    box-sizing: border-box;
    border: 2px solid var(--primary);
  }
}

input[type="submit"] {
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: var(--primary-light);
  }
}

.answer {
  grid-template-columns: 40px 7fr 1fr;
  grid-template-areas: none;

  img {
    width: 40px;
  }
}

/* MEDIA QUERY MOBILE */
@media (max-width: 600px) {
  .modale__container {
    & .modale__content {
      width: 345px;
    }
  }

  .comments {
    margin: 1rem;
  }

  .comment__card {
    padding: 16px;
    background: var(--white);
    border-radius: 8px;
    color: hsl(var(--neutral-dark));
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    grid-template-rows: auto;
    grid-template-areas:
      "user user"
      "comment comment"
      "votes reaction";

    & .card__votes {
      flex-direction: row;
      height: auto;
      width: 100px;
      padding: 12px 16px;
    }
  }
  .replies {
    width: 100%;

    & .reply {
      margin-left: 1rem;
    }
  }

  .answer {
    grid-template-columns: 32px 8fr 1fr;
    grid-template-areas: none;

    img {
      width: 32px;
    }
  }
}

/* FOOTER LOGO CROLWEB */
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
}

.footer__logo {
  img {
    width: 50px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
